/* Estilização do  card */
.card-pedido {
    background-color: whitesmoke;
    color: black;
    display: inline-block;
    max-width: 45%;
    max-height: 90%;
    height: auto;
    width: auto;
    border-radius: 0.325rem;
    padding: 0.5rem;
    margin: auto;
    text-align: center;
}

/* Ajuste das imagens do card */
.card-pedido img {
    max-width: 15%;
    max-height: 15%;
    height: auto;
    width: auto;
    display: flex;
    justify-content: left;
    margin: 10px;
}

/* Estilização e ajuste dos botões de voltar e finalizar pedido */
.return,
.finish {
    color: white;
    background-color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

.buttons {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* Estilização e ajuste do pop-up de confirmação de forma de pagamento */
.pop-up {
    background-color: gray;
    border-radius: 0.325rem;
    padding: 0.5rem;
    max-width: 30%;
    max-height: 50%;
    width: auto;
    height: auto;
    display: block;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    visibility: hidden;
}

/* Estlização e ajuste dos botões de confirmação  */
.popupButton {
    padding: 0.5rem;
    height: auto;
    width: 20%;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.popupButton:first-child {
    margin-right: 50%;
}

.popupButton:last-child {
    margin-left: 50%;
}